/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  height: 350px;
  line-height: 0;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
   position: absolute;
   width: 100%;
   top: 25%
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    top: 10%;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}


footer.page-footer {
  margin: 0;
}

divider {
	border-top: #000
}
